body {
    background: linear-gradient(135deg, #001f3f, #052c4f, #0c395f, #13476f, #1a557f);
    color: #fff; /* White text color */
    font-family: 'Roboto', sans-serif; /* Use a space-themed font */
}
  
.categories {
    display: flex;
    justify-content: center; /* Center category names */
    margin-top: 25vh; /* Center vertically */
}
  
.category {
    cursor: pointer;
    padding: 10px;
    margin: 0 10px; /* Add margin between categories */
    border: none;
    transition: color 0.3s; /* Smooth color transition on hover */
}
  
.category:hover {
    color: #ff7e5f; /* Orange hover color */
}
  
.metrics {
    padding: 20px;
}
  
.metric-group {
    margin-bottom: 20px; /* Add space between metric groups */
}
  
.metric {
    background-color: rgba(0, 0, 0, 0.5); /* Dark translucent background */
    border: 0.5px solid rgba(255, 255, 255, 0.1); /* White border with opacity */
    padding: 10px; /* Increase padding for spacing */
    border-radius: 5px; /* Add slight border-radius */
    margin-bottom: 20px; /* Increase space between metrics */
    border-right-width: 1px; /* Adjust the width as needed */
}
  
  

/* Add gradient background to metric names */
/* Add shadow effect to metric names */
.metric h4 {
    margin-top: 0;
    padding: 5px 10px; /* Add padding for spacing */
    color: #ADD8E6; /* Bright text color */
}
  
  
.metric:hover {
    transform: translateY(-2px); /* Move the metric up slightly on hover */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2); /* White shadow on hover */
}

.progress {
    color: gold;
}

.metric-name {
    color: black;
}

.metrics h3 {
    color: #CCCCCC;;
}

.title {
    text-align: center;
    margin-top: 10vh; 
    font-size: 2rem; 
    color: #fff; 
}

.intro {
    text-align: center;
    margin-top: 15vh; 
    color: #fff; 
}

.displayName {
    color: #9AFF9A;
    position: absolute;
    top: 20px;
    left: 20px; 
}
  