.homepage-container {
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: 80%;
  max-width: 600px;
  text-align: center; /* Center align content */
  margin-top: 25vh; /* Center vertically */
}

.homepage-title {
  font-size: 36px; /* Increase font size */
  margin-bottom: 30px; /* Increase space below title */
}

.homepage-description {
  font-size: 18px; /* Increase font size */
  margin-bottom: 20px; /* Increase space below description */
}

.homepage-button {
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color */
  border: none;
  padding: 15px 30px; /* Increase button padding */
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px; /* Increase button font size */
}

.homepage-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.homepage-error {
  color: red; /* Red color for error message */
}
